// bower:scss
// endbower

body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; background: #000; color: #fff; }

.browserupgrade { margin: 0.2em 0; padding: 0.2em 0; background: #ccc; color: #000; }
